<%=render "shared/navbar"%>

<section>
  <div class="mainwrapper">
    <%=render "shared/left-panel"%>
      <div class="mainpanel">
        <div class="contentpanel">
          <div class="row row-stat">

            <div class="col-lg-4">
              <div class="panha-card-list">
                <div class="panha-card card-profile">
                  <div class="panha-card-box panha-card-link">
                    <div class="panha-card-progress">
                      <div class="panha-card-panel-left">
                        <span class="panha-card-estimate">Profile</span>
                      </div>
                      <div class="panha-card-panel-right">
                        <div class="dropdown">
                          <i class="fa fa-bars dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></i>
                          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a href="#">Action</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <p>Content Here</p>
                  </div>

                  <ul class="panha-card-actions">
                    <li class="panha-card-action">
                      <a class="btn panhara-pink-btn" href="#">Resume</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="col-lg-4">
              <div class="panha-card-list">
                <div class="panha-card card-profile">
                  <div class="panha-card-box panha-card-link">
                    <div class="panha-card-progress">
                      <div class="panha-card-panel-left">
                        <span class="panha-card-estimate">Profile</span>
                      </div>
                      <div class="panha-card-panel-right">
                        <div class="dropdown">
                          <i class="fa fa-bars dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></i>
                          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a href="#">Action</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <p>Content Here</p>
                  </div>

                  <ul class="panha-card-actions">
                    <li class="panha-card-action">
                      <a class="btn panhara-pink-btn" href="#">Resume</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>


            <div class="col-lg-4">
              <div class="panha-card-list">
                <div class="panha-card card-profile">
                  <div class="panha-card-box panha-card-link">
                    <div class="panha-card-progress">
                      <div class="panha-card-panel-left">
                        <span class="panha-card-estimate">Profile</span>
                      </div>
                      <div class="panha-card-panel-right">
                        <div class="dropdown">
                          <i class="fa fa-bars dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></i>
                          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a href="#">Action</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <p>Content Here</p>
                  </div>

                  <ul class="panha-card-actions">
                    <li class="panha-card-action">
                      <a class="btn panhara-pink-btn" href="#">Resume</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
         <%=render "shared/clockandweather"%>
        </div><!-- row -->

        </div><!-- contentpanel -->
      <%=render "shared/footer"%>
    </div><!-- mainpanel -->
  </div><!-- mainwrapper -->
</section>
