<h1>User</h1>
<% @users.each do |user| %>
  <p><%=full_name(user) %></p>
  <p><%=user.username %></p>
  <p><%=user.email %></p>
  <p><%=user.image %></p>
  <% if current_user.try(:admin?) %>
    <%= link_to "View" , user  %>
    <%= link_to "Edit" , edit_user_path(user) %>
    <%= link_to "Delete" , user, method: :delete, data: {confirm: "Are you sure?"} %>
  <% end %>
<% end %>
