<div class="leftpanel">
  <div class="media profile-left">
    <%if user_signed_in?%>
      <%=link_to users_path,:class=>"pull-left profile-thumb" do%>
      <%if current_user.image.blank?%>
        <img class="img-circle" src="/profile.png" alt="">
      <%else%>
        <img class="img-circle" src="<%=current_user.image%>" alt="">
      <%end%>
    <%end%>

    <div class="media-body">

      <h4 class="media-heading"><%=current_user.username%></h4>
        <span class="user-options">
          <%=link_to users_path do%>
            <i class="glyphicon glyphicon-user"></i>
          <%end%>

          <%=link_to destroy_user_session_path do%>
            <i class="glyphicon glyphicon-log-out"></i>
          <%end%>

        </span>
    </div>
    <%end%>

  </div><!-- media -->


  <ul class="nav nav-pills nav-stacked">
    <li class="active">
      <%= link_to dashboard_path do  %>
        <i class="fa fa-home"></i> <span>Dashboard</span>
      <% end %>
  </li>

    <li class="parent"><a href="#"><i class="fa fa-edit"></i> <span>Products</span></a>

    </li>

    <li class="parent"><a href="#"><i class="fa fa-file-text"></i> <span>Supplier</span></a>
      <ul class="children">
        <%if current_user.try(:admin?)%>
          <li>
            <%=link_to "Add Supplier", new_supplier_path%>
          </li>
          <li>
            <%=link_to "Supplier List", suppliers_path%>
          </li>

        <%else%>
          <li>
            <%=link_to "Product List", suppliers_path%>
          </li>
        <%end%>

      </ul>
    </li>

    <li class="parent"><a href="#"><i class="fa fa-file-text"></i> <span>Import</span></a>
      <ul class="children">
        <%if current_user.try(:admin?)%>
          <li>
            <%=link_to "Add Import", new_import_path%>
          </li>
          <li>
            <%=link_to "Import List", imports_path%>
          </li>

        <%else%>
          <li>
            <%=link_to "Import List", imports_path%>
          </li>
        <%end%>

      </ul>
    </li>


    <li class="parent"><a href="#"><i class="fa fa-file-text"></i> <span>Customer</span></a>

    </li>
  </ul>
</div><!-- leftpanel -->
