<%=render "shared/navbar"%>
  <section>
    <div class="mainwrapper">
      <%=render "shared/left-panel"%>
        <div class="mainpanel">
          <div class="contentpanel">
            <section class="panel panel-default">
              <div class="panel-body weather-row">
                <div class="row">
                  <div class="col-md-12">
                    <%=simple_form_for(@import) do |f|%>
                      <div class="panel panel-default">

                        <div class="panel-heading">
                          <div class="panel-btns">
                            <a href="#" class="panel-minimize tooltips" data-toggle="tooltip" title="Minimize Panel"><i class="fa fa-minus"></i></a>
                            <a href="#" class="panel-close tooltips" data-toggle="tooltip" title="Close Panel"><i class="fa fa-times"></i></a>
                          </div><!-- panel-btns -->
                          <h4 class="panel-title">Import Products</h4>
                          <p>This is an example of a form using a placeholder instead of label.</p>
                        </div><!-- panel-heading -->

                        <div class="panel-body">
                          <div class="container">
                            <div class="row">
                              <%= f.error_notification %>
                                <!-- Form  -->
                              <div class="col-lg-4">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                  <%= f.label "Import Date",:class=>"mdl-textfield__label ", for:"sample1"%><br />
                                  <%= f.text_field :import_date, :class=>"mdl-textfield__input", :placeholder=>"mm/dd/yy", :id=>"datetimepicker1"%>
                                </div>
                                <div>
                                  <%= f.label "Supplier" %>
                                  <%= f.collection_select :supplier_id, Supplier.all ,:id ,:supplier_name %>
                                </div>
                                  <!-- Details part -->

                                <div class="products">
                                  <%= f.simple_fields_for :products do |t| %>
                                    <%= render "product_fields" , f: t %>
                                  <% end %>
                                  <br>
                                  <div class="links">
                                    <%= link_to_add_association "Add" , f, :products,:class=>"mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"  %>
                                  </div>
                                </div>

                              </div>
                            </div><!-- row -->
                          </div>
                        </div><!-- panel-body -->

                        <div class="panel-footer">
                          <%=f.submit :class=>"mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"%>
                        </div><!-- panel-footer -->

                      </div><!-- panel -->
                    <%end%>
                  </div><!-- col-md-6 -->
                </div><!-- row -->
              </div>
            </section>
            <%=render "shared/clockandweather"%>
          </div><!-- contentpanel -->
        <%=render "shared/footer"%>
      </div><!-- mainpanel -->
    </div><!-- mainwrapper -->
  </section>
