<div class="nested-fields mdl-textfield mdl-textfield--floating-label">

  <%= f.label " ",:class=>"mdl-textfield__label"%>
  <%= f.text_field :product_name , :class=>"mdl-textfield__input",:placeholder=>"Product"%>

  <%= link_to_remove_association(f,:style=>"float: right;") do %>
    <i style="padding-top:10px;margin-left:20px;" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent material-icons">clear</i>
  <%end%>

</div>
