<p id="notice"><%= notice %></p>

<p>
  <strong>Import date:</strong>
  <%= @import.import_date %>
</p>

<p>
  <strong>Supplier:</strong>
  <%= @import.supplier_id %>
</p>

<%= link_to 'Edit', edit_import_path(@import) %> |
<%= link_to 'Back', imports_path %>
