<%= form_with(model: saledetail, local: true) do |form| %>
  <% if saledetail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(saledetail.errors.count, "error") %> prohibited this saledetail from being saved:</h2>

      <ul>
      <% saledetail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :sale_qty %>
    <%= form.number_field :sale_qty, id: :saledetail_sale_qty %>
  </div>

  <div class="field">
    <%= form.label :unit_price %>
    <%= form.text_field :unit_price, id: :saledetail_unit_price %>
  </div>

  <div class="field">
    <%= form.label :total %>
    <%= form.text_field :total, id: :saledetail_total %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
