<p id="notice"><%= notice %></p>

<h1>Saledetails</h1>

<table>
  <thead>
    <tr>
      <th>Sale qty</th>
      <th>Unit price</th>
      <th>Total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @saledetails.each do |saledetail| %>
      <tr>
        <td><%= saledetail.sale_qty %></td>
        <td><%= saledetail.unit_price %></td>
        <td><%= saledetail.total %></td>
        <td><%= link_to 'Show', saledetail %></td>
        <td><%= link_to 'Edit', edit_saledetail_path(saledetail) %></td>
        <td><%= link_to 'Destroy', saledetail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Saledetail', new_saledetail_path %>
