<p id="notice"><%= notice %></p>

<p>
  <strong>Sale qty:</strong>
  <%= @saledetail.sale_qty %>
</p>

<p>
  <strong>Unit price:</strong>
  <%= @saledetail.unit_price %>
</p>

<p>
  <strong>Total:</strong>
  <%= @saledetail.total %>
</p>

<%= link_to 'Edit', edit_saledetail_path(@saledetail) %> |
<%= link_to 'Back', saledetails_path %>
