
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3"><p></p></div>
      <div class="col-lg-6">
        <div class="panhara-signup-card panhara-shadow">
          <div class="">
            <h3 class="panhara-signup-title">Stock Management Application</h3>
            <span class="panhara-card-quote">Login account to see its action.</span>
            <p><a href="#" class="panhara-login-link">Already Have An Account?</a></p>

          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="col-lg-12">
              <div class="mdl-textfield mdl-js-textfield ">
                <%= f.label :email,:class=>"mdl-textfield__label", for:"sample1"%><br />
                <%= f.email_field :email, :class=>"mdl-textfield__input", :id=>"sample1" %>
              </div>
            </div>

            <div class="col-lg-12">
              <div class="mdl-textfield mdl-js-textfield ">
                <%= f.label :password,:class=>"mdl-textfield__label", for:"sample1"%><br />
                <%= f.password_field :password, :class=>"mdl-textfield__input", :id=>"sample1" %>
              </div>
            </div>

              <div class="col-lg-12">
                <div class="mdl-textfield mdl-js-textfield ">
                  <div class="col-lg-6 panhara-no-padding-left">
                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-1">
                      <% if devise_mapping.rememberable? -%>
                      <%= f.check_box :remember_me, :class=>"mdl-checkbox__input",:id=>"checkbox-1" %>
                      <span class="mdl-checkbox__label panhara-remeber-me">Remember Me</span>
                      <% end -%>
                    </label>

                  </div>
                </div>
              </div>



              <div class="col-lg-12">

                  <%= f.submit "Log in", :class=>"mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent panhara-signup-button" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <div class="col-lg-3"><p></p></div>
  </div>
</div>
