<%=render "shared/navbar"%>
<section>
  <div class="mainwrapper">
    <%=render "shared/left-panel"%>
      <div class="mainpanel">
        <div class="contentpanel">
          <section class="panel panel-default">
            <div class="panel-body weather-row">
              <div class="row">
                <div class="col-md-12">
                  <%=form_for @category do |f|%>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-btns">
                                <a href="#" class="panel-minimize tooltips" data-toggle="tooltip" title="Minimize Panel"><i class="fa fa-minus"></i></a>
                                <a href="#" class="panel-close tooltips" data-toggle="tooltip" title="Close Panel"><i class="fa fa-times"></i></a>
                            </div><!-- panel-btns -->
                            <h4 class="panel-title">Add Product</h4>
                            <p>This is an example of a form using a placeholder instead of label.</p>
                        </div><!-- panel-heading -->
                        <div class="panel-body">
                          <div class="container">
                            <div class="row">
                              <!-- Form  -->
                              <div class="col-lg-4">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                  <%= f.label "Category",:class=>"mdl-textfield__label ", for:"sample1"%><br />
                                  <%= f.text_field :category_name, :class=>"mdl-textfield__input", :id=>"sample1" %>
                                </div>
                              </div>
                            </div><!-- row -->
                          </div>
                        </div><!-- panel-body -->
                        <div class="panel-footer">
                          <%=f.submit  :class=>"mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"%>
                        </div><!-- panel-footer -->
                    </div><!-- panel -->
                  <%end%>
                </div><!-- col-md-6 -->
              </div><!-- row -->
            </div>
          </section>
          <%=render "shared/clockandweather"%>
        </div><!-- contentpanel -->
      <%=render "shared/footer"%>
    </div><!-- mainpanel -->
  </div><!-- mainwrapper -->
</section>
