<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :product_name %>
    <%= form.text_field :product_name, id: :product_product_name %>
  </div>

  <div class="field">
    <%= form.label :product_qty %>
    <%= form.number_field :product_qty, id: :product_product_qty %>
  </div>

  <div class="field">
    <%= form.label :unit_price_instock %>
    <%= form.text_field :unit_price_instock, id: :product_unit_price_instock %>
  </div>

  <div class="field">
    <%= form.label :sale_unit_price %>
    <%= form.text_field :sale_unit_price, id: :product_sale_unit_price %>
  </div>

  <div class="field">
    <%= form.label :category_id %>
    <%= form.number_field :category_id, id: :product_category_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
