<p id="notice"><%= notice %></p>

<p>
  <strong>Product name:</strong>
  <%= @product.product_name %>
</p>

<p>
  <strong>Product qty:</strong>
  <%= @product.product_qty %>
</p>

<p>
  <strong>Unit price instock:</strong>
  <%= @product.unit_price_instock %>
</p>

<p>
  <strong>Sale unit price:</strong>
  <%= @product.sale_unit_price %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category_id %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
