<%=render "shared/navbar"%>
  <section>
			<div class="mainwrapper">
				<%=render "shared/left-panel"%>
        <div class="mainpanel">
          <div class="contentpanel">
            <div class="row row-stat">

              <div class="col-lg-12">
                <div class="panha-card-list">
                  <div class="panha-card card-profile-purple">
                    <div class="panha-card-box panha-card-link">
                      <div class="panha-card-progress-purple">
                        <div class="panha-card-panel-left">
                          <span class="panha-card-estimate">Profile</span>
                        </div>
                      </div>
                      <div class="table-responsive">
                        <table class="table mb30">
                          <thead>
                            <tr>
                              <%@fields.each do |f|%>
                                <th><%=f%></th>
                              <%end%>
                            </tr>
                          </thead>

                          <%@suppliers.each do |supplier|%>
                          <tbody>
                            <tr>
                              <td><%= supplier.id %></td>
                              <td><%= supplier.supplier_name %></td>
                              <td><%= supplier.address %></td>


                              <td class="table-action text-right">
                                <%= view_link_icon(supplier) %>
                                <%= edit_link_icon(supplier) %>
                                <%= delete_link_icon(supplier) %>
                              </td>

                            </tr>
                          </tbody>
                          <%end%>
                        </table>
                      </div><!-- table-responsive -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
           <%=render "shared/clockandweather"%>
        </div><!-- row -->
      </div><!-- contentpanel -->
		</div><!-- mainwrapper -->
	</section>
