<%= form_with(model: sale, local: true) do |form| %>
  <% if sale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sale.errors.count, "error") %> prohibited this sale from being saved:</h2>

      <ul>
      <% sale.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :sale_date %>
    <%= form.datetime_select :sale_date, id: :sale_sale_date %>
  </div>

  <div class="field">
    <%= form.label :total %>
    <%= form.text_field :total, id: :sale_total %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
